.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  z-index: 3;
  .logo {
    display: flex;
    align-items: center;
    .image {
      height: 50px;
      width: 120px;
      margin-right: 15px;
      position: relative;
    }
    hr {
      height: 50px;
      width: 1px;
      border: 0;
      background: rgb(255, 255, 255);
    }
    span {
      padding: 20px 25px;
      width: 240px;
      font-weight: 500;
      font-size: 12px;
      line-height: 96%;
      text-transform: uppercase;
      color: #FFFFFF;

    }
  }
  .nav ul, .menu ul {
    display: flex;
    li {
      text-transform: uppercase;
      font-size: 14px;
      margin-left: 30px;
      color:#FFFFFF;
      cursor: pointer;
    }
  }
  .menu {
    position: fixed;
    top:200px;
    right: 20px;
    ul {
      flex-direction: column;
      align-items: end;
      li {
        padding: 15px;
        font-size: 18px;
      }
    }
    .social {
      position: fixed;
      bottom: 40px;
      right:35px;
      display: flex;
      ul {
        display: flex;
        flex-direction: row;
        li {
          padding: 0;
          margin-left: 5px;
        }
      }
    }
  }
  
}

.header__circle {
  position: fixed;
  z-index: 1;
  height: 3000px;
  width: 3000px;
  left: -1600px;
  top: -300px;
}

@media screen and (max-width: 1024px) {
  .header {
    .logo {
      .image {
        width: 90px;
        height: 35px;
      }
      hr {
        height: 35px;
      }
      span {
        padding: 15px 15px;
        width: 150px;
        font-size: 8px;
      }
    }
  }
}