$blue: #0A54F1;

.shedule {
  background: $blue;
  border-radius: 15px;
  padding: 16px 35px 16px 20px;
  width: fit-content;
  &__item {
    margin-bottom: 6px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__days {
    display: flex;
    &__item {
      background: #FFFFFF;
      opacity: 0.8;
      border-radius: 100%;
      width: 45px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $blue;
      font-weight: 700;
      font-size: 18px;
      margin-left: 6px;
    }
  }
  &__time {
    color: #FFFFFF;
    font-weight: 800;
    font-size: 24px;
    margin-left: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .shedule {
    padding: 12px 15px 8px;
    max-width: 100%;
    &__days {
      &__item {
        width: 28px;
        height: 28px;
        font-size: 12px;
        margin-left: 4px;
      }
    }
    &__time {
      font-size: 16px;
      margin-left: 20px;
    }
  }
}